// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

body {
	background-color: #eaeaea;
	font-family: 'Raleway', sans-serif;
}

.container {
	background: white;
}

.articles-container,
.article-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

nav.bg-light {
	background-color: white!important;
	border-bottom: 1px solid;
}

.navbar-collapse {
	justify-content: space-between;
}

 ::-webkit-scrollbar {
    width: 5px;
    z-index: 0;
}

 ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(243, 22, 43, 0.81);
}