// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

body {
	background: #eaeaea;
}

.container {
	background: white;
}

.articles-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

nav.bg-light {
	background-color: white!important;
	border-bottom: 1px solid;
}
